{% extends 'main.html'%}

{% block content %}

<style>
    .register{
        display: none;
    }
</style>

<button onclick="register()">Register</button>
<button onclick="login()">login</button>

<div class="register">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="phone" placeholder="phone number..." required>
        <input type="text" name="pass1" placeholder="enter password..." required>
        <input type="text" name="pass2" placeholder="enter confrim-password..." required>
        <button type="submit" name="register_form">register</button>
    </form>
</div>

<div class="login">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="phone" placeholder="phone number..." required>
        <input type="text" name="pass" placeholder="enter password..." required>
        <button type="submit" name="login_form">login</button>
    </form>
</div>

    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}

<script>
    function register(){
        document.querySelector('.register').style.display = 'block'
        document.querySelector('.login').style.display = 'none'
    }

    function login(){
        document.querySelector('.register').style.display = 'none'
        document.querySelector('.login').style.display = 'block'
    }


</script>



{% endblock %}